@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* BASIC SETUP
*/
:global(#root) {
  min-height: inherit;
}

html,
body {
  background-color: var(--color-pagebackground-primary);
  color: var(--color-text-primary);
  text-rendering: optimizelegibility;
  font-family: Inter, sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
